.page-box-card ::v-deep {
  .el-card__header {
    padding: 0;
  }
  .page-box-content {
    .control-group-container {
      .el-form-item__label {
        color: #8b8b8b;
        display: flex;
        align-items: center;
      }
      .el-form-item__content {
        display: flex;
        align-items: center;
      }
      .el-form-item {
        margin-bottom: 5px;
      }
      .control-text {
        color: #333;
      }
    }
  }
}
