body {
  font: Tahoma, Helvetica, Arial, '宋体', sans-serif;
}

.timeSlider {
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
  z-index: 0;
  margin-left: 60px;
  position: relative;
  /* height: 47px; */
  height: 36px;
  top: 35px;
  left: 16px;
}

/*
.label-week {
  margin-left: 20px;
  width: 100px;
}

.timeslider-box {
  display: flex;
  flex-direction: row;
}

.timeslider-box .timeSlider {
  flex: 1;
  margin-left: 10px;
  width: 720px;
  min-width: 680px;
} */

.timeSlider-container {
  /* padding: 2px 0 24px 24px; */
  background: #fff;
}

.timeslider-box {
  position: relative;
  /* height: 36px; */
  height: 90px;
  background: rgba(0, 0, 0, 0.02);
  line-height: 90px;
  margin-top: 8px;
  margin-bottom: 4px;
}


.timeSliderDiv {
  height: 20px;
  /* background: #004BAD; */
  /* border-radius: 10px 10px 10px 10px; */
  z-index: 4;
  top: 0px;
  position: absolute;
  background-color: #004BAD;
  /* border-left: 1px solid #000; */
  /* background: #1890FF; */
  box-sizing: border-box;
  /* position: relative; */
}

/* .timeSliderDiv::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 5px solid #7EA4D5;
  border-radius: 50%;
  background-color: #fff;
}

.timeSliderDiv::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 5px solid #7EA4D5;
  border-radius: 50%;
  background-color: #fff;
}

.timeSliderDiv::before {
  position: absolute;
  left: 0px;
  top: -1px;
}

.timeSliderDiv::after {
  position: absolute;
  right: 0px;
  top: -1px;
} */

.trCanvas {
  width: 720px;
  height: 20px;
  background: rgba(2, 74, 168, 0.08);
  border-radius: 10px 10px 10px 10px;
  position: relative;
}

.fixBGDiv {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 999;
  background-color: #e4e4e4;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  opacity: 0.4;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  display: none;
}

.modal-dialog {
  position: relative;
  width: 310px;
  margin: 150px auto;
}

.modal-dialog:after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  transform: translateX(-50%);
}

.modal-content {
  position: relative;
  background-color: #FFF;
  background-clip: padding-box;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  outline: none;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
  min-height: 16px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  margin: 0;
  line-height: 1.42rem;
  font-weight: 500;
  font-size: 14px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;
  color: #606266;
}

.modal-body {
  position: relative;
  /* padding: 16px; */
}


.modal-footer {
  padding: 10px;
  text-align: right;

  border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.btnModal {
  font-size: 14px;
  line-height: 1.427;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;
  margin-left: 24px;
}

.btnModal:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btnSave {
  color: #004BAD;
}

.btnDel {

  color: #B30000;
}

.time-div {
  /* margin: 10px; */
  height: 80px;
}


.time-input {
  margin: 5px;
  padding: 5px 0;
  text-align: center;
  width: 52px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-family: DIN-Medium, DIN;
  font-weight: 500;
  color: #242B3A;
}

.time-lab {
  display: inline-block;
  width: 80px;
  *zoom: 1;
  *display: inline;
}

.event-div {
  margin: 10px;
}

.event-select {
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 2px 12px;
  outline-style: none;
  border-radius: 2px;
}


.coordinate {
  width: 1px;
  height: 5px;
  background-color: #ccc;
  position: absolute;
  z-index: -1;
  top: 22px;
}

.coordinateLabDiv {
  width: 20px;
  margin-left: -3px;
  line-height: 14px;
  /* top: 22px; */
  top: 30px;
  position: absolute;
  z-index: -1;
  font-size: 12px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;

  color: B1#B1B1;
  text-align: left;
}


.startTimeBar {
  /* position: absolute;
  left: -19px;
  top: 8px;
  border: 10px solid transparent;
  border-right: 8px solid #dbdada;
  display: none; */
  position: absolute;
  left: -6px;
  top: -1px;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 5px solid RGBA(126, 164, 213, 1);
  border-radius: 50%;
  background-color: #fff;
  z-index: 99999999;
}

.stopTimeBar {
  /* position: absolute;
  right: -18px;
  top: 8px;
  border: 10px solid transparent;
  border-left: 8px solid #dbdada;
  display: none; */
  position: absolute;
  right: -6px;
  top: -1px;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 5px solid RGBA(126, 164, 213, 1);
  border-radius: 50%;
  background-color: #fff;
  z-index: 99999999;
}

/* .stopTimeBar:hover, */
.startTimeBar:hover {
  cursor: e-resize;
}

.stopTimeBar:hover {
  cursor: w-resize;
}

.startTimeShow {
  background-color: #0084FF;
  padding-left: 3px;
  width: 58px;
  height: 23px;
  background: #C1DCFF;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: absolute;
  top: 28px;
  left: -60px;
  text-align: center;
  line-height: 23px;
  font-size: 14px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;
  color: #242B3A;
  display: none;
}

.stopTimeShow {
  background-color: #0084FF;
  padding-left: 3px;
  width: 58px;
  height: 23px;
  background: #C1DCFF;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: absolute;
  top: 28px;
  right: -60px;
  text-align: center;
  line-height: 23px;
  font-size: 14px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;
  color: #242B3A;
  display: none;
}



.label-event {
  float: left;
  margin-left: 20px;
}

.label-week {
  float: left;
  font-size: 14px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;
  color: #606266;
  margin-left: 16px;
}


.editWrap {
  display: flex;
  align-items: center;
  position: absolute;
  /* width: 100px; */
  height: 36px;
  line-height: 36px;
  right: 24px;
  top: 30px;
}

.editWrap img {
  width: 20px;
  margin-left: 15px;
}

.editWrap i {
  font-size: 18px;
  color: #1890ff;
}

.editWrap i.delImg {
  color: #f00;
}

.editContent {
  width: 210px;
  box-shadow: 0px 12px 32px 1px rgba(0, 0, 0, 0.2);

  position: fixed;
  left: 45%;
  top: 35vh;
  display: none;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  z-index: 5;
  color: rgba(0, 0, 0, 0.85);
}

.editContent::before {
  position: fixed;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: -1;
}

.editContent::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: -1;
}

.editHeader {
  min-height: 16px;
  padding: 5px 16px;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.editHeaderTitle {
  font-size: 14px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;
  color: #606266;
}

.editBody {
  position: relative;
  padding: 16px;


}

.editUnit {
  display: flex;
  align-items: center;
  width: 80px;
  *zoom: 1;
  *display: inline;
  margin-bottom: 4px;
}

.editUnit input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.editUnit-label {
  font-size: 14px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;
  color: #333333;
}

.editFotter {
  padding: 10px;
  text-align: right;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.delImg {
  margin-left: 10px;
}

.editBtn:hover,
.editImg:hover,
.delImg:hover {
  cursor: pointer;
}

.editBtn {
  padding: 5px 16px;
  text-align: center;
  font-size: 14px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;
  cursor: pointer;
}

.save {

  color: #004BAD;
}

.editBtn:hover {
  /* background-color: #ccc; */
  opacity: 0.5;
}

.eventBoxWrap {
  position: relative;
  width: 600px;
  margin: auto;
  padding-bottom: 40px;
  overflow: hidden;
}

.eventBox {
  width: 20px;
  height: 20px;
  float: left;
  margin: 1px;
}

.eventSelect {
  margin-left: 10px;
  width: 80px;
}

.time-start-div {
  display: inline-block;
  width: 140px;
  margin-left: 5px;
}

.time-stop-div {
  display: inline-block;
  width: 140px;
}

.time-start-div-span {
  font-size: 14px;
  font-family: Microsoft YaHei-Regular, Microsoft YaHei;
  font-weight: 400;
  color: #B1B1B1;
}
