body {
  font: Tahoma, Helvetica, Arial, '宋体', sans-serif;
}

.timeSlider {
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
  z-index: 0;
  margin-left: 50px;
  position: relative;
  /* height: 47px; */
  height: 36px;
}
/* 
.label-week {
  margin-left: 20px;
  width: 100px;
}

.timeslider-box {
  display: flex;
  flex-direction: row;
}

.timeslider-box .timeSlider {
  flex: 1;
  margin-left: 10px;
  width: 720px;
  min-width: 680px;
} */

.timeSlider-container {
  padding: 2px 0 24px 24px;
  background: #FAFAFA;
}

.timeslider-box {
  position: relative;
  height: 36px;
  line-height: 36px;
  margin-top: 8px;
  padding-top: 30px;
}


.timeSliderDiv {
  /* height: 20px; */
  height: 36px;
  z-index: 4;
  top: 0;
  position: absolute;
  border-left: 1px solid #000;
  background: #1890FF;
  box-sizing: border-box;
}

.trCanvas {
  width: 720px;
  /* height: 20px; */
  height: 36px;
  background: #fff;
  position: relative;
}

.fixBGDiv {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 999;
  background-color: #e4e4e4;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
  opacity: 0.4;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  display: none;
}

.modal-dialog {
  position: relative;
  width: 400px;
  margin: 150px auto;
}

.modal-content {
  position: relative;
  background-color: #FFF;
  background-clip: padding-box;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  outline: none;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
  min-height: 16px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  margin: 0;
  line-height: 1.42rem;
  font-weight: 500;
}

.modal-body {
  position: relative;
  padding: 16px;
}


.modal-footer {
  padding: 0 16px 16px;
  text-align: right;
  /* margin-top: 5px; */
  /* border-top: 1px solid #e5e5e5; */
}

.btnModal {
  font-size: 14px;
  line-height: 1.427;
  /* height: 40px; */
  /* width: 80px; */
  padding: 5px 20px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: rgba(0,0,0,0.65);
  margin: 2px;
  border-radius: 2px;
}

.btnModal:hover {
  opacity: 0.5;
  cursor: pointer;
}

.btnSave {
  background-color: #1890ff;
  border: 1px solid #1890ff;
  color: #fff;
}

.btnDel{
  background-color: #FF4D4F;
  border: 1px solid #FF4D4F;
  color: #fff;
}

.time-div {
  margin: 10px;
}


.time-input {
  width: 40px;
  margin: 5px;
  padding: 5px 0;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.time-lab {
  display: inline-block;
  width: 80px;
  *zoom: 1;
  *display: inline;
}

.event-div {
  margin: 10px;
}

.event-select {
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 2px 12px;
  outline-style: none;
  border-radius: 2px;
}


.coordinate {
  width: 1px;
  height: 3px;
  background-color: #C4C4C4;
  position: absolute;
  z-index: -1;
  top: -3px;
}

.coordinateLabDiv {
  width: 20px;
  margin-left: -3px;
  line-height: 14px;
  /* top: 22px; */
  top: -22px;
  position: absolute;
  z-index: -1;
  font-size: 14px;
  color: rgba(0,0,0,0.65);
  text-align: left;
}


.startTimeBar {
  position: absolute;
  left: -19px;
  top: 8px;
  border: 10px solid transparent;
  border-right: 8px solid #dbdada;
  display: none;
}

.stopTimeBar {
  position: absolute;
  right: -18px;
  top: 8px;
  border: 10px solid transparent;
  border-left: 8px solid #dbdada;
  display: none;
}

.stopTimeBar:hover,
.startTimeBar:hover {
  cursor: e-resize;
}

.startTimeShow {
  background-color: #0084FF;
  color: white;
  padding-left: 3px;
  width: 44px;
  height: 18px;
  position: absolute;
  left: -44px;
  top: 28px;
  text-align: center;
  line-height: 18px;
  font-size: .8em;
  display: none;
}

.stopTimeShow {
  background-color: #0084FF;
  color: white;
  padding-left: 3px;
  width: 44px;
  height: 18px;
  position: absolute;
  top: 28px;
  right: -44px;
  text-align: center;
  line-height: 18px;
  font-size: .8em;
  display: none;
}



.label-event {
  float: left;
  margin-left: 20px;
}

.label-week {
  float: left;
  color: rgba(0,0,0,0.65);
  font-size: 12px;
  /* margin-left: 20px; */
}


.editWrap {
  display: flex;
  align-items: center;
  position: absolute;
  /* width: 100px; */
  height: 36px;
  line-height: 36px;
  right: 24px;
  top: 30px;
}

.editWrap img{
  width: 20px;
  margin-left: 15px;
}

.editWrap i {
  font-size: 18px;
  color: #1890ff;
}

.editWrap i.delImg {
  color: #f00;
}

.editContent {
  width: 180px;
  position: fixed;
  left: 45%;
  top: 35vh;
  display: none;
  background-color: #fff;
  box-shadow: 0 0 20px -5px ;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  z-index: 5;
  color: rgba(0, 0, 0, 0.85);
}

.editContent::before {
  position: fixed;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: -1;
}
.editContent::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: -1;
}

.editHeader {
  min-height: 16px;
  padding: 5px 16px;
  border-bottom: 1px solid #e5e5e5;
}

.editHeaderTitle {
  font-weight: 500;
}

.editBody {
  position: relative;
  padding: 16px;
}

.editUnit {
  display: flex;
  align-items: center;
  width: 80px;
  *zoom: 1;
  *display: inline;
  font-size: 14px;
  margin-bottom: 4px;
}
.editUnit input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.editFotter {
  padding: 10px;
  text-align: right;
  margin-top: 5px;
  border-top: 1px solid #e5e5e5;
}

.delImg {
  margin-left: 10px;
}

.editBtn:hover,
.editImg:hover,
.delImg:hover {
  cursor: pointer;
}

.editBtn {
  font-size: 14px;
  /* width: 55px;
  height: 30px; */
  padding: 5px 16px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: rgba(0,0,0,0.65);
  border-radius: 2px;
}

.save {
  background-color: #1890ff;
  border: 1px solid #1890ff;
  color: #fff;
}

.editBtn:hover {
  /* background-color: #ccc; */
  opacity: 0.5;
}

.eventBoxWrap {
  position: relative;
  width: 600px;
  margin: auto;
  padding-bottom: 40px;
  overflow: hidden;
}

.eventBox {
  width: 20px;
  height: 20px;
  float: left;
  margin: 1px;
}

.eventSelect {
  margin-left: 10px;
  width: 80px;
}
